.imageContainer {
    /* background-size: cover; */
    background-color: #fff;
}

.imageContainer img {
    height: 100%; 
    width: 18em;
    margin-top: 25px;
    transition: all 1.3s ease-in-out;
  }
  .description {
    background: var(--grey);
    color: var(--text-color);
  }

  .card-body {
      background-color: var(--grey);
      color: var(--text-color);
  }

  .card-header h2 {
    background-color: #350af3;
    color: #fff;
}
