.home {
    height: "90%";
    width: '100%';
    justify-content: "center";
    align-items: "center";
}

.personalImage {
  position: "absolute";
  padding-bottom: "0";
  opacity: "0.3";
  mix-blend-mode: "lighten";
  height: "100%";

  width: "100%";
}

.globeImage {
  position: "absolute";
  padding-bottom: "-20%";
  opacity: "0.3";
  mix-blend-mode: "lighten";
  height: "100%";
  width: "100%";
  padding-right: "5%";
}

.textContainer {
  position: "absolute";
  display: "flex";
  flex-direction: "column";
  letter-spacing: "1px";
  text-align: "left";
  z-index: "1";
  color: var(--text-color);
  text-shadow: "1px 1px 3px #000";
}

.moniker {
  color: var(--text-color);
  font-weight: "100";
  font-size: "24px";
  margin-top: "-100px";
  padding-bottom: "28px";
}

.name {
  color: var(--text-color);
  font-weight: "100";
  font-size: "24px";
  font-family: 'Cedarville Cursive', cursive;
  margin-top: "-100px";
  padding-bottom: "28px";
  justify-content:right;
}

.animChars {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  fill: var(--text-color);
}

.home .name {
  font-size: 20px;
}

.home .description {
  font-size: 12px;
}
